.App{
  display: flex;
  place-items: center;
  gap: 2rem;
}

#gameTitle{
  font-size: 30px;
  color: #e6e6e6;
  font-family: Papyrus;
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: red;
  padding: 2rem;
  border-radius: 2rem;
  border: 4px solid maroon;
  gap: 1rem;
}

.card{
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  background-color: black;
  user-select: none;
  border: 3px solid #998200;
  transition: transform 600ms ease;
  cursor: pointer;
}

.card:hover{
  border: 4px solid black;
  background-color: #998200;
}

[disabled], .card.matched {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}

.side{
  pointer-events: none;
  position: absolute;
}

:is(.card.matched, .card.flipped, :focus) #cardBack {
  transform: rotateY(0deg);
}

:is(.card.matched, .card.flipped, :focus) #cardFront {
  transform: rotateY(90deg);
}

#frontImage{
  height: 110px;
  width: 140px;
}

#cardBack{
  align-items: center;
  transform: rotateY(90deg);
}

#backImage{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

#cardText{
  font-size: 12px;
  color: #e6e6e6;
}