.App{
  display: grid;
  place-items: center;
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card{
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
}

.side{
  border: 2px solid red;
}

#frontImage{
  height: 100px;
  width: 150px;
}

#cardBack{
  align-items: center;
}

#backImage{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

#cardText{
  font-size: 12px;
}