#beginner{
    font-size: 20px;
    background-color: blueviolet;
    border: 5px solid black;
}

#easy{
    font-size: 20px;
    background-color: blueviolet;
    border: 5px solid black;
}

#medium{
    font-size: 20px;
    background-color: blueviolet;
    border: 5px solid black;
}

#hard{
    font-size: 20px;
    background-color: blueviolet;
    border: 5px solid black;
}

#insane{
    font-size: 20px;
    background-color: blueviolet;
    border: 5px solid black;

}