.search-container{
    width: 280px;
    display: flex;
    flex-direction: column;
    grid-row: 6;
}

.dropdown{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

#searchBtn{
    font-size: 20px;
    border-radius: 50px;
}

.dropdown:empty{
    border: none;
}

.dropdown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    font-size: 10px;
}

input{
    width: 220px;
}

.search-inner{
    display: flex;
}

#resultWindow{
    grid-row: 1;
}

#name{
    font-family: Papyrus;
    color: #e6e6e6;
    font-size: 30px;
}

#monimg{
    height: 200px;
    width: 200px;
}

#descrip{
    font-family: Papyrus;
    color: #e6e6e6;
    font-size: 15px;
}